<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Django Level truncatewords</title>
    <link rel="stylesheet" href="{% static "css/test.css"%}"
</head>
<body>
    <h1>Welcome to level two</h1>
    <Here are your access records:>
    <div class="djangtwo">
        {% if access_records %}
        <table>
        <thead>
            <th>Site name</th>
            <th>Date Accesed</th>
        </thead>
        {% for acc in access_records %}
        <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <p>NO ACCESS RECORDS FOUND!</p>
        {% endif %}
    </div>
    
</body>
</html>